ALCHEMY_URL=https://polygon-amoy.g.alchemy.com/v2/VOTRE_CLE_ALCHEMY
PRIVATE_KEY=votre_cle_privee_wallet_0x...
CONTRACT_ADDRESS=adresse_du_contrat_deploye
RPC_URL=http://127.0.0.1:8545
BLOCKCHAIN_PORT=3001
EXPLORER_URL=http://localhost:8545